*.o
schemec
.idea
bin
doc
build
!build/configure
test/lls_programs/*
!test/lls_programs/*.*
!test/lls_programs/Makefile
!test/lls_programs/lib
test/lls_programs/lib/*
!test/lls_programs/lib/*.*
test/lls_programs/lib/*.so
!test/lls_programs/lib/Makefile
